body {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: solid;
}
h1 {
    color: #f76b8a;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    margin-bottom: 0;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
    color:black;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
}
li:first-letter{
    text-transform: capitalize;
}
ul {
    margin: 0;
    padding: 0;
}
.overview {
    margin-bottom: 20px;
}
.weather-app {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #66bfbf;
    border-radius: 5px;
    background-color: #eaf6f6;
}
.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
}
.weather-details {
    margin-top: 20px;
}
.weather-temperature .active {
    color: black;
    cursor: default;
}
.weather-temperature .active:hover{
    text-decoration: none;
}
.weather-temperature img {
margin-right: 10px;
margin-bottom: 10px;
}
.weather-temperature strong {
    color: black;
    font-weight: 300;
    line-height: 1;
    font-size: 85px;
}
.weather-temperature .units {
    color: black;
    position: relative;
    font-size: 16px;
    top: -35px;
}
.weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: black;
}
.weather-forecast-date {
font-size: 16px;
}
.weather-forecast-temperature-min {
    opacity: 0.5;
}
.weather-forecast-temperatures {
    font-size: 13px;
}
img.forecast-image {
    width: 42px;
}
#icon {
    width: 100px;
    height: 100px;
}