body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #66bfbf;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    margin-bottom: 0;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
    color:#66bfbf;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
}
ul {
    margin: 0;
    padding: 0;
}
.overview {
    margin-bottom: 20px;
}
.weather-app {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #f76b8a;
    border-radius: 5px;
}
.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
}
.weather-details {
    margin-top: 20px;
}
.weather-temperature i {
margin-right: 10px;
margin-bottom: 10px;
font-size: 85px;
}
.weather-temperature strong {
    color: black;
    font-weight: 300;
    font-size: 65px;
    line-height: 1;
}
.weather-temperature .units {
    color: black;
    position: relative;
    font-size: 16px;
    top: -35px;

}